<template functional>
  <b-navbar class="back-nav" fixed="bottom">
    <b-container>
      <b-navbar-nav>
        <nuxt-link class="menu-link" to="/menu">
          <div class="d-block px-1 pt-2 mt-1 mb-1">
            <font-awesome-icon class="fa-2x" :icon="['fas', 'angle-left']" />
            <h5 class="f1-light d-inline-block">
              Back to main menu
            </h5>
          </div>
        </nuxt-link>
      </b-navbar-nav>
    </b-container>
  </b-navbar>
</template>

<style lang="scss" scoped>
@import "~assets/css/partials/_variables";

.back-nav {
  background-color: $dark-grey !important;
  border-top: 3px solid $teal;
  letter-spacing: 2px;
}

a {
  color: $white;
}

svg,
h5 {
  font-size: 1.2rem;
}

.navbar {
  padding: 0.1rem 0.6rem;
}
</style>