<template>
<footer class="footer mt-5">
      <div class="container">
        <b-row>
          <b-col cols="8">
            <logo />
            <p class="mt-3 small f1-light text-white sm-dropshadow">
              All rights reserved 2020
            </p>
          </b-col>

          <b-col cols="4" class="social-media-links">
            <a href="https://www.facebook.com/bay5coffee" target="_blank">
              <font-awesome-icon class="fa-2x" :icon="['fab', 'facebook-square']" />
            </a>

            <a href="https://www.instagram.com/bay5coffee" target="_blank">
              <font-awesome-icon class="fa-2x" :icon="['fab', 'instagram']" />
            </a>

            <a href="https://twitter.com/bay5coffee" target="_blank">
              <font-awesome-icon class="fa-2x" :icon="['fab', 'twitter-square']" />
            </a>
          </b-col>
        </b-row>
      </div>
    </footer>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  components: {
    Logo
  }
}
</script>

<style lang="scss" scoped>
@import "~assets/css/partials/_variables";

.footer {
  min-height: 150px;
  padding: 2.5rem 0;
  color: $dark-grey;
  background-color: blueviolet;
  box-shadow: inset 0 0.5rem 5rem rgba(0,0,0,.25);
  border-top: 3px solid $teal;
}

.social-media-links a {
  color: $white;
  margin: 0 0.3em;
  float: right;
}
</style>
