<template functional>
  <div class="sm-dropshadow">
    <nuxt-link to="/">
      <h1 class="f2 d-block px-1">
        <span style="letter-spacing: -3px;">B</span><span style="letter-spacing: 0px;">a</span><span>y</span>5
        <span class="f1-light">Coffee House</span>
      </h1>
    </nuxt-link>
  </div>
</template>

<style lang="scss" scoped>
@import "~assets/css/partials/_variables";

div {
  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}


h1 {
  margin-bottom: 0;

  span.f1-light {
    letter-spacing: 2px;
    margin-left: -0.5rem;
    font-size: 1.4rem;
    font-weight: 100;
    white-space: nowrap;
  }
}
</style>
