<template functional>
  <b-col class="menu-section col-12 col-md-6 col-lg-4 f1-light mb-2">
    <nuxt-link class="menu-link" :to="props.href">
      <slot />
      <div class="d-block pt-2 menu-name">
        <h4 class="text-left">
          <strong>{{ props.name }}</strong>
        </h4>
        <span class="float-right">
          <font-awesome-icon class="fa-2x" :icon="['fas', 'angle-right']" />
        </span>
      </div>
    </nuxt-link>
  </b-col>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },

    href: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/css/partials/_variables";

.menu-section {
  margin-top: 1rem;
  min-height: 11rem;
}

.f1-light {
  letter-spacing: .2rem;
}

.menu-link {
  color: $grey;
  height: 350px;

  .float-right {
    margin-top: -7px;
  }
}

h4 {
  display: inline-block;
}

img {
  max-height: 145px;
  background-color: $teal;
}
</style>
