<template>
  <b-navbar toggleable="lg" type="dark" fixed="top" class="px-1">
    <b-container>
      <b-navbar-brand>
        <logo/>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse">
        <template v-slot:default="{ expanded }">
          <font-awesome-icon v-if="expanded" :icon="['fas', 'times']" />
          <font-awesome-icon v-else :icon="['fas', 'bars']" />
        </template>
      </b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-md-auto align-items-end align-items-md-center sm-dropshadow">

          <b-nav-item :active="this.$route.path.startsWith('/menu')" class="mx-2">
            <nuxt-link to="/menu">
              Main Menu
            </nuxt-link>
          </b-nav-item>

          <b-nav-item :active="this.$route.name == 'afternoon-tea'" class="mx-2">
            <nuxt-link to="/afternoon-tea">
              Afternoon Tea
            </nuxt-link>
          </b-nav-item>

          <b-nav-item :active="this.$route.name == 'about-us'" class="mx-2">
            <nuxt-link to="/about-us">
              About us
            </nuxt-link>
          </b-nav-item>

          <b-nav-item :active="this.$route.name == 'booking'" class="mx-2">
            <nuxt-link to="/booking">
              Booking
            </nuxt-link>
          </b-nav-item>

          <b-nav-item :active="this.$route.name == 'index'" class="mx-2 d-lg-none">
            <nuxt-link to="/">
              Home
            </nuxt-link>
          </b-nav-item>

        </b-navbar-nav>
      </b-collapse>
    </b-container>
  </b-navbar>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  components: {
    Logo
  }
}
</script>

<style lang="scss" scoped>
@import "~assets/css/partials/_variables";

nav {
  background-color: $dark-grey;
  padding: 0.2rem 0 0 0;
  border-bottom: 3px solid $teal;
  font-size: 16px;
}

@media (max-width: 990px) {
  nav {
    font-size: 30px;
  }
}

.nav-link {
  text-align: center;
  margin-right: 5px;
  text-transform: uppercase;

  a {
    color: $white;
  }

  &.active a, &.active:hover a {
    color: $teal;
  }

  &:hover a {
    color: #bbb;
  }
}
</style>
