<template functional>
  <b-container-fluid class="d-block paragraph text-center shadow px-2 py-2 mt-3">
    <b-container>
      <b-row class="d-block paragraph text-center">
        <div v-for="line in props.array" :key="line">
          <p>{{ line }}</p>
        </div>
        <p>{{ props.text }}</p>
      </b-row>
    </b-container>
  </b-container-fluid>
</template>

<script>
export default {
  props: ["text", "array"]
}
</script>
