<template functional>
  <p class="mb-4 f1-light pdf-link">
    <a href="/bay5-menu.pdf" target="_blank">
      <strong>
        Download the menu as a PDF
        <span class="text-danger">
          <font-awesome-icon :icon="['fas', 'file-pdf']" />
        </span>
      </strong>
    </a>
  </p>
</template>

<style lang="scss" scoped>
.pdf-link {
  letter-spacing: .1rem;
}
</style>