<template functional>
  <div class="title text-center f1-light">
    <b-jumbotron fluid :header="props.name" :class="props.type"/>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      required: true
    },
    type: {
      default: 'one',
      type: String
    }
  }
}
</script>

<style lang="scss">
@import "~assets/css/partials/_variables";

.title {
 margin-top: 2rem;
}
</style>