@import '~assets/css/partials';

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: 'Quicksand',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,
    Segoe UI Symbol,Noto Color Emoji;
  font-weight: 500;
  font-size: 20px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $dark-grey;
  margin-top: 4rem;
}