<template>
  <div>
    <page-nav />
    <nuxt />
    <bay-footer />
  </div>
</template>

<script>
import PageNav from "~/components/Nav.vue"
import BayFooter from "~/components/Footer.vue"

export default {
  components: {
    PageNav,
    BayFooter
  }
};
</script>