<template>
  <div>
    <b-container class="pt-1">

      <b-row class="mt-5 mb-3 text-center">
        <b-col>
          <h1 class="f1-light display-1">{{ menu.name }}</h1>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-card-group columns v-scroll-reveal>
            <b-card
              v-for="option in menu.options"
              :key="option.name"
              :img-src="option.image"
              :img-alt="option.imageDescription"
              :overlay="option.hasOwnProperty('image')"
            >
              <div v-if="option.name">
                <b-card-title
                  class="f1"
                  v-if="option.name"
                >
                  {{ option.name }}
                </b-card-title>

                <b-card-text
                  v-if="option.description"
                  class="f1-light"
                >
                  {{ option.description }}
                </b-card-text>

                <span class="f1 dietry-info">
                  <span v-if="(option.v && !option.ve)" title="Veggie">V </span>
                  <span v-if="option.ve" title="Vegan">VE </span>
                  <!-- <span v-if="option.gf" title="Gluten-Free">GF </span> -->
                  <span v-if="(option.lg || option.gf)" title="Low-Gluten">LG </span>
                </span>

                <span class="recommended f2" v-if="option.recommended">
                  Bay5 Recommends
                </span>

                <span class="new f2" v-if="option.newUntil >= today">
                  New
                </span>
              </div>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>

      <b-row class="mt-5" v-scroll-reveal="{ delay: 1000 }">
        <b-col>
          <nuxt-link to="/menu/food">
            <b-button variant="primary" class="mb-3"><font-awesome-icon :icon="['fas', 'angle-left']" /> Back to Food Menu</b-button>
          </nuxt-link>
        </b-col>
      </b-row>

    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: this.$route.params.id,
      fullMenu: this.$store.state.menu,
      menu: null,
      today: new Date()
    };
  },

  created () {
    this.menu = this.fullMenu.find(menu => menu.id === this.id);
  }
};
</script>

<style lang="scss" scoped>
.col {
  margin-bottom: 0;
}

h3.text-center {
  margin-bottom: -1rem;
}
</style>
