<template>
  <div>
    <b-container class="pt-1">

      <b-row class="my-5 text-center">
        <b-col>
          <h1 class="f1-light display-3">Drinks Menu</h1>
        </b-col>
      </b-row>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/coffee">
              <b-jumbotron class="coffee">
                <h2 class="f1 display-4">
                  <span class="no-wrap">
                    Coffee<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/tea">
              <b-jumbotron class="tea">
                <h2 class="f1 display-4">
                  <span class="no-wrap">
                    Tea<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/hot-chocolate">
              <b-jumbotron class="hot-chocolate">
                <h2 class="f1 display-4">
                  Hot <span class="no-wrap">
                    Chocolate<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/wine">
              <b-jumbotron class="wine">
                <h2 class="f1 display-4">
                  <span class="no-wrap">
                    Wine<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/beer-and-cider">
              <b-jumbotron class="beer">
                <h2 class="f1 display-4">
                  Beer & <span class="no-wrap">
                    Cider<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/soft-drinks">
              <b-jumbotron class="soft-drinks">
                <h2 class="f1 display-4">
                  Soft <span class="no-wrap">
                    Drinks<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <b-row class="mt-3">
        <b-col>
          <nuxt-link to="/menu">
            <b-button variant="primary" class="mb-3 mr-3 "><font-awesome-icon :icon="['fas', 'angle-left']" /> Back to Main Menu</b-button>
          </nuxt-link>

          <nuxt-link to="/menu/food">
            <b-button variant="primary" class="mb-3 float-right">Food Menu <font-awesome-icon :icon="['fas', 'angle-right']" /></b-button>
          </nuxt-link>
        </b-col>
      </b-row>

    </b-container>
  </div>
</template>

<script>
import TitleBanner from "~/components/TitleBanner.vue";
import MenuSection from "~/components/MenuSection.vue";

export default {
  components: {
    TitleBanner,
    MenuSection
  }
};
</script>

<style lang="scss" scoped>
.coffee {
  background-image: url(~assets/images/720-300-coffee-alt.png);
}

.tea {
  background-image: url(~assets/images/720-300-tea.png);
}

.hot-chocolate {
  background-image: url(~assets/images/720-300-hot-chocolate.png);
}

.wine {
  background-image: url(~assets/images/720-300-wine.png);
}

.beer {
  background-image: url(~assets/images/720-300-beer.png);
}
</style>
