<template>
  <div>
    <b-container class="pt-1">

      <b-row class="my-5 text-center">
        <b-col>
          <h1 class="f1-light display-1">Food Menu</h1>
          <p class="f1-light sm-dropshadow bold-intro shadow">We don’t serve fast food but we do serve great food, as fast as we can!</p>
        </b-col>
      </b-row>

      <section v-scroll-reveal>
      <b-row>
        <b-col>
          <nuxt-link to="/menu/breakfast">
            <b-jumbotron class="breakfast">
              <h2 class="f1 display-4">
                <span class="no-wrap">
                  Breakfast<font-awesome-icon :icon="['fas', 'angle-right']" />
                </span>
              </h2>
            </b-jumbotron>
          </nuxt-link>
        </b-col>
      </b-row>
      </section>

      <section v-scroll-reveal>
      <b-row>
        <b-col>
          <nuxt-link to="/menu/sharing-boards">
            <b-jumbotron class="sharing-boards">
              <h2 class="f1 display-4">
                Sharing <span class="no-wrap">
                  Boards<font-awesome-icon :icon="['fas', 'angle-right']" />
                </span>
              </h2>
            </b-jumbotron>
          </nuxt-link>
        </b-col>
      </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/sandwiches">
              <b-jumbotron class="sandwiches">
                <h2 class="f1 display-4">
                  Sandwiches & <span class="no-wrap">
                    Paninis<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/crepes">
              <b-jumbotron class="crepes">
                <h2 class="f1 display-4">
                  <span class="no-wrap">
                    Crêpes<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/pancakes">
              <b-jumbotron class="pancakes">
                <h2 class="f1 display-4">
                  Pancake <span class="no-wrap">
                    Stacks<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/salads">
              <b-jumbotron class="salads">
                <h2 class="f1 display-4">
                  Salad & <span class="no-wrap">
                    Soup<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/ice-cream">
              <b-jumbotron class="ice-cream">
                <h2 class="f1 display-4">
                  Ice <span class="no-wrap">
                    Cream<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <b-row class="mt-3">
        <b-col>
          <nuxt-link to="/menu">
            <b-button variant="primary" class="mb-3 mr-3"><font-awesome-icon :icon="['fas', 'angle-left']" /> Back to Main Menu</b-button>
          </nuxt-link>

          <nuxt-link to="/menu/drinks">
            <b-button variant="primary" class="mb-3 float-right">Drinks Menu <font-awesome-icon :icon="['fas', 'angle-right']" /></b-button>
          </nuxt-link>
        </b-col>
      </b-row>

    </b-container>
  </div>
</template>

<script>
import TitleBanner from "~/components/TitleBanner.vue";
import MenuSection from "~/components/MenuSection.vue";
import PdfMenu from "~/components/PdfMenu.vue"

export default {
  components: {
    TitleBanner,
    MenuSection,
    PdfMenu
  }
};
</script>

<style lang="scss" scoped>
.breakfast {
  background-image: url(~assets/images/720-300-breakfast-alt.png);
}

.sharing-boards {
  background-image: url(~assets/images/720-300-sharing-board.png);
}

.sandwiches {
  background-image: url(~assets/images/720-300-sandwiches.png);
}

.crepes {
  background-image: url(~assets/images/720-300-crepes.png);
}

.pancakes {
  background-image: url(~assets/images/720-300-pancakes-main.png);
}

.salads {
  background-image: url(~assets/images/720-300-salad.png);
}

.ice-cream {
  background-image: url(~assets/images/720-300-ice-cream.png);
}
</style>