<template>
  <div>
    <b-container class="pt-1">

      <b-row class="my-5 text-center">
        <b-col>
          <h1 class="f1-light display-1">Main Menu</h1>
          <p class="f1-light sm-dropshadow bold-intro shadow">At Bay 5 we source the freshest local ingredients we can to create tasty dishes for our guests.</p>
        </b-col>
      </b-row>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/food">
              <b-jumbotron class="food">
                <h2 class="f1 display-4">
                  <span class="no-wrap">
                    Food<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/menu/drinks">
              <b-jumbotron class="drinks">
                <h2 class="f1 display-4">
                  <span class="no-wrap">
                    Drinks<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <nuxt-link to="/afternoon-tea">
              <b-jumbotron class="afternoon-tea">
                <h2 class="f1 display-4">
                  Afternoon <span class="no-wrap">
                    Tea<font-awesome-icon :icon="['fas', 'angle-right']" />
                  </span>
                </h2>
              </b-jumbotron>
            </nuxt-link>
          </b-col>
        </b-row>
      </section>

    </b-container>
  </div>
</template>

<script>
import TitleBanner from "~/components/TitleBanner.vue";
import MenuSection from "~/components/MenuSection.vue";
import PdfMenu from "~/components/PdfMenu.vue"

export default {
  components: {
    TitleBanner,
    MenuSection,
    PdfMenu
  }
};
</script>

<style lang="scss" scoped>
.food {
  background-image: url(~assets/images/720-300-sharing-board.png);
}

.drinks {
  background-image: url(~assets/images/720-300-coffee-alt.png);
}

.afternoon-tea {
  background-image: url(~assets/images/720-300-afternoon-tea.jpg);
}
</style>
