<template>
  <b-container class="pt-1">
    <b-row class="my-5 text-center">
      <b-col>
        <h1 class="f1-light display-1">About Us</h1>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <video controls>
          <source src="videos/promo.mov" type="video/mp4">
        </video>
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss" scoped>
video {
  display: block;
  margin: auto;
  width: 100%;
}
</style>