<template>
  <b-container class="pt-1">
    <b-row class="my-5 text-center">
      <b-col>
        <h1 class="f1-light display-1">Afternoon Tea</h1>
      </b-col>
    </b-row>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <b-jumbotron class="sharing-boards">
              <p class="f1-light text-white text-center disclaimer">Bay 5 afternoon tea is priced <b>per person*</b> and
              requires <nuxt-link to="/booking">advanced booking</nuxt-link>.<br>Please provide details of any dietary requirements at time of booking.</p>
            </b-jumbotron>
          </b-col>
        </b-row>
      </section>

    <section id="original" v-scroll-reveal>
      <b-card no-body>
        <b-row no-gutters>
          <b-col lg="5">
            <b-card-img
              src="/images/afternoon-tea.jpg"
              alt="Image of Bay 5 original afternoon tea"
              class="rounded-0"
            ></b-card-img>
            <nuxt-link to="/booking">
              <span class="pricetag shadow">
                £17.50*
              </span>
            </nuxt-link>
          </b-col>
          <b-col lg="7">
            <b-card-body>
              <b-card-title class="f1">Bay 5 Original</b-card-title>
              <b-card-text class="f1-light text-darkmagenta">The bay 5 original afternoon tea includes:</b-card-text>
              <b-card-text class="f1-light">
                <ul>
                  <li>🍓 Fruit scones with strawberry preserve & Welsh clotted cream</li>
                  <li>🥪 A selection of sandwiches including:
                    <ul>
                      <li>🍖 carved ham & cucumber</li>
                      <li>🧀 cheddar cheese</li>
                      <li>🍳 home-made egg mayonnaise & cress ciabatta</li>
                    </ul>
                  </li>
                  <li>✨ sides of salad cream & pickle</li>
                  <li>🥧 Miniature peppered steak, chicken & bacon pies</li>
                  <li>🥔 Kettle crisps</li>
                  <li>🍰 assortment of miniature desserts</li>
                  <li>🍓 strawberries & berries with cream</li>
                  <li>☕️ a pot of tea or americano coffee</li>
                </ul>
              </b-card-text>
            </b-card-body>
          </b-col>
        </b-row>

      </b-card>
    </section>

    <section id="free-flowing-fizz" v-scroll-reveal>
      <b-card no-body>
        <b-row no-gutters class="reverse">
          <b-col lg="5">
            <b-card-img
              src="/images/free-flowing-fizz.jpg"
              alt="Image of Bay 5 free-flowing fizz afternoon tea"
              class="rounded-0"
            ></b-card-img>
            <nuxt-link to="/booking">
              <span class="pricetag shadow">
                £35.00*
              </span>
            </nuxt-link>
          </b-col>
          <b-col lg="7">
            <b-card-body>
              <span class="new f2">
                New
              </span>
              <b-card-title class="f1">Bay 5 Free-Flowing Fizz</b-card-title>
              <b-card-text class="f1-light text-darkmagenta">
                Served between 3pm and 4.30pm most Saturdays. minimum two persons.
              </b-card-text>
              <b-card-text class="f1-light text-darkmagenta">
                Our Brand New Free-Flowing Fizz Afternoon Tea includes:</b-card-text>
              <b-card-text class="f1-light">
                <ul>
                  <li>🍰 Our Delicious Original or Vegetarian Afternoon Tea</li>
                  <li>🥂 Free flowing Bubbles for 90 minutes</li>
                  <li>☕️ Unlimited Tea or Americano Coffee</li>
                  <li>🔞 proof of age required. please drink responsibly</li>
                </ul>
              </b-card-text>
            </b-card-body>
          </b-col>
        </b-row>
      </b-card>
    </section>
  </b-container>
</template>

<style lang="scss" scoped>
.card-title {
  font-size: 2rem;
}

.card {
  margin-bottom: 4rem;
}

.pricetag {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: darkturquoise;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.4rem;
}
</style>
