<template>
  <b-container class="pt-1">
    <b-row class="my-5 text-center">
      <b-col>
        <h1 class="f1-light display-1">Booking</h1>
      </b-col>
    </b-row>
  </b-container>
</template>
