<template>
  <div>
    <title-banner name="Events" />
  </div>
</template>

<script>
import TitleBanner from '~/components/TitleBanner.vue'

export default {
  components: {
    TitleBanner
  }
};
</script>
