<template>
  <div>
    <b-container>
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="6000"
        indicators
        background="#fff"
        img-width="1024"
        img-height="480"
        style="text-shadow: 1px 1px 2px #333;"
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <!-- Text slides with image -->
        <b-carousel-slide
          caption="Marketing Banner 1"
          text=""
          img-src="https://picsum.photos/1024/480/?image=52"
        />

        <!-- Slides with custom text -->
        <b-carousel-slide
          img-src="https://picsum.photos/1024/480/?image=54"
          caption="Marketing Banner 2"
        />

        <!-- Slides with image only -->
        <b-carousel-slide
          img-src="https://picsum.photos/1024/480/?image=58"
          caption="Marketing Banner 3"
        />


        <!-- Slides with img slot -->
        <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
        <b-carousel-slide caption="Marketing Banner 4">
          <template v-slot:img>
            <img
              class="d-block img-fluid w-100"
              src="https://picsum.photos/1024/480/?image=55"
              alt="image slot"
            >
          </template>
        </b-carousel-slide>
      </b-carousel>

      <section v-scroll-reveal>
        <b-row class="my-5 text-center">
          <b-col>
            <h1 class="f1-light display-1">Welcome to Bay 5</h1>
              <p class="f1-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, <br>
              tincidunt a tincidunt eget, convallis vel est. Ut pellentesque ut lacus vel interdum.</p>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <b-jumbotron class="sharing-boards">
              <h2 class="f1">Come see our mouthwatering menu</h2>
              <p class="f1-light">BACKGROUND IMAGE HERE AND SOME EXTRA TEXT.</p>
              <nuxt-link to="/menu">
                <b-button variant="primary">Food & Drink Menu <font-awesome-icon :icon="['fas', 'angle-right']" /></b-button>
              </nuxt-link>
            </b-jumbotron>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <b-jumbotron class="afternoon-tea reverse">
              <h2 class="f1">Afternoon Tea?</h2>
              <p class="f1-light">BACKGROUND IMAGE HERE AND SOME EXTRA TEXT.</p>
              <nuxt-link to="/afternoon-tea">
                <b-button variant="primary">Afternoon Tea Menu <font-awesome-icon :icon="['fas', 'angle-right']" /></b-button>
              </nuxt-link>
            </b-jumbotron>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <b-jumbotron>
              <h2 class="f1">Third Section Placeholder</h2>
              <p class="f1-light">BACKGROUND IMAGE HERE AND SOME EXTRA TEXT.</p>
              <nuxt-link to="#">
                <b-button variant="primary">More Info <font-awesome-icon :icon="['fas', 'angle-right']" /></b-button>
              </nuxt-link>
            </b-jumbotron>
          </b-col>
        </b-row>
      </section>

      <section v-scroll-reveal>
        <b-row>
          <b-col>
            <b-jumbotron class="reverse">
                <h2 class="f1">Fourth Section Placeholder</h2>
                <p class="f1-light">BACKGROUND IMAGE HERE AND SOME EXTRA TEXT.</p>
                <nuxt-link to="#">
                  <b-button variant="primary">More Info <font-awesome-icon :icon="['fas', 'angle-right']" /></b-button>
                </nuxt-link>
            </b-jumbotron>
          </b-col>
        </b-row>
      </section>

    </b-container>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  components: {
    Logo
  },
  data() {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    }
  }
}
</script>

<style lang="scss" scoped>
.sharing-boards {
  background-image: url(~assets/images/720-300-sharing-board.png);
}

.afternoon-tea {
  background-image: url(~assets/images/720-300-afternoon-tea.jpg);
}
.carousel {
  margin-top: 5em;
}
</style>
