.breadcrumb {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 18px;
  height: 3rem;
  position: fixed;
  background-color: $white;
  z-index: 1000;
  width: 100%;

  a, a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: $teal;
  }

  .active {
    color: $grey;
  }
}

.breadcrumb-spacer {
  min-height: 4rem;
}

@media (max-width: 769px) {
  .breadcrumb {
    font-size: 16px;
  }
}