.btn-primary {
  background-color: $dark-grey;
  border-color: $dark-grey;
  color: $white;
  text-transform: uppercase;
  // border-bottom: 3px solid $teal;

  &:hover, &:active {
    color: $teal !important;
    background-color: $grey !important;
    border-color: $grey !important;
    // border-bottom: 3px solid $teal !important;
  }
}