.card {
  border: 1px solid #ddd;
}

.card-title {
  margin-bottom: 0;
  color: magenta;
}

.card-text {
  margin-top: 0.75em;
  font-size: 1rem;
}

.card-columns .card {
  margin-top: 1.5em;
  margin-bottom: 0;
}

@media (min-width: 576px) and (max-width: 995px) {
  .card-columns {
      -moz-column-count: 2;
      column-count: 2;
  }
}

.card-img {
  width: 100%;
  border-radius: 0;
}

.card ul {
  margin-left: -2.5rem;
  // font-size: 1.2rem;
  list-style: none;
  line-height: 31px;
  margin-bottom: -5px;

  ul {
    margin-left: 1rem;
  }
}

@media (max-width: 995px) {
  .card ul {
    font-size: 1rem;
  }
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  border-top: none;
  background-color: #fff;
}