.carousel-indicators {
  position: relative;

  li {
    background-color: #555;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    background-clip: padding-box;
    opacity: 1;
    transition: opacity 0.6s ease;
    border-radius:20px;
    margin-top: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    &.active {
      background-color: darkturquoise;
    }
  }

  &.slide {
    background: red !important;
  }
}