@font-face {
	font-family: "BebasNeueRegular";
	src: url("~assets/css/fonts/bebas-neue/bebas-neue.regular.otf");
	src: url("~assets/css/fonts/bebas-neue/bebas-neue.eot?#iefix") format("embedded-opentype"),
	url("~assets/css/fonts/bebas-neue/bebas-neue.regular.otf") format('opentype'),
	url("~assets/css/fonts/bebas-neue/bebas-neue.woff") format("woff"),
	url("~assets/css/fonts/bebas-neue/bebas-neue.regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "BebasNeueLight";
	src: url("~assets/css/fonts/bebas-neue/bebas-neue.light.otf");
	src: url("~assets/css/fonts/bebas-neue/bebas-neue.light.otf?#iefix") format("opentype"),
	url("~assets/css/fonts/bebas-neue/bebas-neue.light.otf") format('opentype'),
	url("~assets/css/fonts/bebas-neue/bebas-neue.light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(~assets/css/fonts/satisfy/satisfy.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(~assets/css/fonts/quicksand/quicksand.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
