.jumbotron {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: darkturquoise;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s;
  margin-bottom: 4rem;
}

@media (max-width: 993px) {
  .jumbotron {
    background-image: none !important;
    padding: 1.5rem 1rem;
  }
}

.title {
 margin-top: 2rem;
}

.jumbotron.reverse {
  text-align: right;
  background-position: left;
}

.jumbotron h2{
  color: $white;

  svg {
    margin-left: 5px;
  }
}

a .jumbotron:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.5s;
}

a .jumbotron:active {
  text-decoration: none;
}
