.dietry-info {
  position: absolute;
  bottom: 2px;
  right: 2px;
  padding: 0 5px;
  color: darkturquoise;
  display: table;
  cursor: help;
}

.dietary-key {
  background-color: darkturquoise;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.recommended {
  text-transform: capitalize;
  position: absolute;
  top: -15px;
  right: 10px;
  color: darkmagenta;
  background-color: $white;
  padding: 0 5px;
  font-weight: bold;
}

.new {
  text-transform: capitalize;
  position: absolute;
  top: -15px;
  left: 10px;
  color: darkmagenta;
  background-color: $white;
  padding: 0 5px;
  font-weight: bold;
}