.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-collapse.show {
  width: 100%;
  text-align: center;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-collapse.show {
  width: 100%;
  text-align: center;
}