p {
  margin-bottom: 5px;
}

a {
  color: #555;

  &:hover {
    color: #666;
    text-decoration: none;
  }
}

h2 {
  margin-top: 1rem;;
}

.f1 {
  font-family: 'BebasNeueRegular';
  font-weight: bolder;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.f1-light {
  font-family: 'BebasNeueLight', 'BebasNeueRegular';
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.f2 {
  font-family: 'Satisfy', cursive !important;
}

.very-small {
  font-size: 70%;
}

.text-teal {
  color: $dark-teal;
}

.text-grey {
  color: $grey;
}

.text-darkmagenta {
  color: darkmagenta;
}

.sm-dropshadow {
  text-shadow: 1px 1.5px 1.5px rgba(0, 0, 0, 0.8);
}

.no-wrap {
  white-space: nowrap;
}

.bold-intro {
  background: magenta;
  display: inline;
  padding: 5px 15px;
  color: white;
  line-height: 3.2rem;
  font-size: 1.7rem;
  white-space: break-spaces;
  padding-top: .4rem;
}

@media (max-width: 995px) {
  .display-1 {
     font-size: 4rem;
  }

  .display-4 {
    font-size: 2.5rem;
 }

  .bold-intro {
    font-size: 1.5rem;
  }
}

.row.reverse {
  flex-direction: row-reverse;
}

.jumbotron .disclaimer {
  font-size: 2rem;
}

@media (max-width: 995px) {
  .jumbotron .disclaimer {
    font-size: 1.2rem;
  }
}