// $teal: rgb(10, 190, 191);
$teal: #00dfff;
$dark-teal: #14939b;
// $purple: rgb(138, 43, 226);
$purple: #8d3e91;
$black: #212529;
$white: #fff;
$grey: #666;
$dark-grey: #555;
$pink: #ff40ff;
$green: rgb(186,218,85);
$bright-green: rgb(127, 255, 0);
$red: #8b0054;
$bs-purple: rgb(86,61,124);
$bs-grey: rgb(52,58,64);
$mint: rgb(29,233,182);
$blue: #007bff;

$button-colour: $white;
$button-text-colour: $purple;
$title-text: $white;
$title-bg: $teal;
$paragraph-text: $white;
$paragraph-bg: $purple;
